html, body, p, h1, h2, h3, h4, h5, h6, div, ul, li, dl,dd, dt, i, b, input, textarea {
	padding:0;
	margin:0;
}
ul, li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	font-family: 'microsoft yahei'
}
.box{
	width:100%;
	height:400px;
}
.title{
	width:100%;
	height: 60px;
	background-color: #E8593C;
}
.titlecenter{
	width:800px;
	height: 60px;
	line-height: 60px;
	font-weight: 30px;
	color:#fff;
	margin:auto;
}
.content{
    width:100%
}
.boxcenter{
	width:800px;
	height:200px;
	margin:auto;
}
.todo-title{
	width: 100%;
	height:60px;
	background-color: #E8593C;
}
.boxcenter>input{
	width:794px;
	height:30px;
	border:1px solid #ddd;
	border-radius: 4px;
	background-color: #eee;
	padding:2px;
}
.project{
	overflow: auto;
	margin-top:10px;
}
.project>li:nth-child(1){
	float: left;
}
.project>li:nth-child(2){
	float: right;
}
.project>li:nth-child(2)>a{
	display: inline-block;
	margin-left: 20px;
	padding:2px;
	cursor: pointer;
}
.active{
	border:1px solid #ccc;
	border-radius: 2px
}
.projectlist{
	width:100%;
	margin-top: 10px;
}
.plan{
	display: inline-block;
	width:600px;
	height:30px;
	border-radius: 4px;
	background-color: #eee;
	border: 1px solid #ddd;
	line-height: 34px;
	padding:2px;
}
.todo-list{
	margin-top: 10px;
}
.todo{
	width:794px;
	height:30px;
	border-radius: 4px;
	background-color: #eee;
	border: 1px solid #ddd;
	line-height: 34px;
	padding:2px;
	position:relative;
	margin-bottom:10px;
}
.view:hover>.dele{
	display: block;
}
.view{
	width:100%;
	height: 100%;
	padding:0 2px;
	box-sizing: border-box;
}
.dele{
	display: none;
	float: right;
	margin-top: 4px;
}
.edit{
	display: none;
	position: absolute;
	top:0;
	left: 0;
	width:604px;
	height: 34px;
	border: none;
	border-radius: 4px;
	padding-left: 20px;
	box-sizing: border-box;
	background-color: #eee;
}
.complated{
	opacity: 0.4;
	text-decoration: line-through;
}
.editing>.view{
	display: none;
}
.editing>.edit{
	display: block;
}